<!DOCTYPE HTML>
<html lang="en" id = "signup">
<head>
	<meta charset = "UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap Links -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://s3.amazonaws.com/stitch-sdks/js/bundles/4.4.0/stitch.js"></script>


	<!--My Stuff-->
	<link rel = "stylesheet" type = "text/css" href = "styles.css"/>

	<title>Sign Up | DIYHacks</title>
</head>
<body>
	<ul class="nav .navbar-expand">
		<li class="nav-item mr-auto">

		</li>
		<li class="nav-item">
			<a class="nav-link" href="/">home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="submit.html">submit</a>
		</li>
	</ul>
	<div class = "container">
		<div class = "row justify-content-center">
			<div class = "col-md-8 text-center">
				<h1>SIGN UP.</h1>
			</div>
		</div>
		<form method = "post" action = "/signup">
			<div class = "row justify-content-center">
				<div id = "color" class = "col-md-7">
					<div id = "formContainer" class = "row justify-content-center">
						<div class = "col-md-8">
							<div class = "form-row">
								<div class = "col-12 form-group">
									<label for = "firstname">First Name</label>
									<input id = "firstname" type = "text" name = "firstname" class="form-control"  placeholder = "Joe" required/>
								</div>
							</div>
							<div class = "form-row">
								<div class = "col-12 form-group">
									<label for = "lastname">Last Name</label>
									<input id = "lastname" type = "text" name = "lastname" class="form-control" placeholder = "Shmoe" required/>
								</div>
							</div>
							<div class = "form-row">
								<div class = "col-12 form-group">
									<label for = "username">Username</label>
									<input id = "username" type = "text" name = "username" class="form-control" placeholder = "username" required/>
								</div>
							</div>
							<div class = "form-row">
								<div class = "col-12 form-group">
									<label for = "email">Email</label>
									<input id = "email" type = "text" name = "email" class="form-control" aria-describedby="emailHelp" placeholder = "reddy2code@shmoe.com" required/>
								</div>
							</div>
							<div class = "form-row">
								<div class = "col-12 form-group">
									<label for = "password">Password</label>
									<input id = "password" type = "password" name = "password" class="form-control"  required/>
								</div>
							</div>
							<div class = "form-row">
								<div class = "col-12 form-group">
									<label for = "password">Password</label>
									<input id = "confirmPass" type = "password" name = "confirmPass" class="form-control" required/>
								</div>
							</div>
							<div class = "form-row">
								<div class = "col-12 form-group">
									<label for = "skills">Skills</label>
									<input id = "skills" type = "text" name = "skills" class="form-control"  required/>
								</div>
							</div>
						</div>
						<div class = "col-md-4">
							<div class = "form-row">
								<select multiple size = "2" name="skills">
									<option value="webdev">Web Development</option>
									<option value="appdev">App Development</option>
									<option value="other">Other</option>
								</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<button type = "submit"> Submit </button>
		</form>

<div class="quickstart-container" id="main">
  
    <div id="info">
      <div id="success"></div>
      <div id="error"></div>
    </div>
    <div id="logged-in" hidden>
      <button class="btn btn-success" onclick="handleLogout()">
        Log Out
      </button>
    </div> 
    <div id="finished-registration" hidden>
      <button class="btn btn-success" onclick="showControlPanel()">
        Go Back
      </button>
    </div> 
    <div id="control-panel">
      <h4>Email/Password Authentication</h4>
      <button class="btn btn-success" onclick="showRegistrationForm()">
        Create a New Account
      </button>
	 
	  <button class="btn btn-success" onclick="">
		<a class="nav-link" href="/login.html">Log In to an Existing Account</a> 
      </button>
      <button class="btn btn-success" onclick="showResendConfirmationForm()">
        Send a New Confirmation Email
      </button>
    </div>
  
    <div id="resend-confirmation" hidden>
      <h4>Send a New Confirmation Email</h4>
      <label for="resend-confirmation-email">Email:</label>
      <div class="input-group mb-1">
        <input type="text" class="form-control" id="resend-confirmation-email" aria-label="resend-confirmation-email" />
      </div>

      <button class="btn btn-success" onclick="handleResendConfirmation()">
        Re-Send Confirmation Email
      </button>
      <button class="btn btn-secondary" onclick="showControlPanel()">
        Go Back
      </button>
      
    </div>
  
    <div id="create-a-user" hidden>
      <h4>Create Email/Password Account</h4>
      <label for="create-a-user-email">Email:</label>
      <div class="input-group mb-1">
        <input type="text" class="form-control" id="create-a-user-email" aria-label="create-a-user-email" />
      </div>

      <label for="create-a-user-password">Password:</label>
      <div class="input-group mb-2">
        <input type="password" class="form-control" id="create-a-user-password" aria-label="create-a-user-password" />
      </div>
      <button class="btn btn-success" onclick="handleSignup()">
        Create a New Account
      </button>
      <button class="btn btn-secondary" onclick="showControlPanel()">
        Go Back
      </button>
    </div>
  
  
  
    <div id="login" hidden>
      <h4>Log In to Email/Password Account</h4>
      <label for="login-email">Email:</label>
      <div class="input-group mb-1">
        <input type="text" class="form-control" id="login-email" aria-label="login-email" />
      </div>

      <label for="login-password">Password:</label>
      <div class="input-group mb-2">
        <input type="password" class="form-control" id="login-password" aria-label="login-password" />
      </div>
      <button class="btn btn-success" onclick="handleLogin()">
        Log In
      </button>
      <button class="btn btn-secondary" onclick="showControlPanel()">
        Go Back
      </button>
    </div>
  
  
    
</div>

</body>
</html>
